*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
  background: black;
}

header.buscador{
    background: #282C35;
    margin-top: 30px;
    margin-left: 1.6rem;
    align-items: center;
    border-radius: 0.8rem;
    width: 84%;
    height: 45px;
}


#input-search{
    margin-left: 30px;
    margin-right: 8px;
    width: 80%;
    height: 45px;
    font-size: 20px;
    text-indent: 10px;
    background: #282C35;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    color: #f0f0f0;
    border: none;
    outline: none;
}

.content-search{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 4rem;
    left: 0;
    background: #000;
    color: Lavender;
    margin-top: 1.2rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 900;
    display: none;
}

.content-table{
    width: 90%;
    max-height: 200px;
    height: 20rem;
    background: rgba(0,0,0,0);
    margin-left: 20px;
    overflow-y: visible;
    overflow-x: hidden;
}

.content-table table{
    width: 100%;
}

tbody tr td a{
    display: block;
    padding: 10px;
    color: white;
    cursor: none;
    text-decoration: none;
}

tbody tr td a:hover{
    color: red;
    text-shadow: 1px -3px 12px purple,
               0px 0px 12px orange;
    cursor: none;
}

#table_length, #table_filter, #table_info, #table_paginate{
    display: none;
}

.content-table::-webkit-scrollbar{ 
	background: #000;  
	
}

.content-table::-webkit-scrollbar-thumb{ 
	background: white; 
}













